<div style="margin-top:50px" class="container">
 <h2>Online Quiz</h2>
    
    <div style="width:50%">
    <P>
        Following quiz provides Multiple Choice Questions (MCQs) related to Android. You will have to read all the given answers and click over the correct answer. If you are not sure about the answer then you can check the answer using Show Answer button. You can use Next Quiz button to check new set of questions in the quiz.
    </P>
    <div>
        <h1 style="font-size:18px"></h1>
        <ol type="A">
            <a href="#"><li>It is an interface to store global information about an application</li></a>
            <a href="#"><li>It is used to create new components.</li></a>
            <a href="#"><li>Android has two contexts, those are getContext() and getApplicationContext()</li></a>
            <a href="#"><li>All of Above</li></a>
            <a href="#"><li>None of Above</li></a>
        </ol>
    </div>
    
    <p align="left" style="float:left">
        <input class="btn btn-default" type="button" value="Back" />
    </p>
    <p align="right">
        <input class="btn btn-default" type="button" value="Next" />
    </p>
    </div>
</div>